<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:jacavi.properties</value>
		</property>
	</bean>

	<bean id="applicationManager" class="de.jacavi.appl.ApplicationManager" />

	<bean id="tilesetRepositoryBean" class="de.jacavi.appl.track.TilesetRepository" lazy-init="true">
		<constructor-arg type="java.lang.String" value="${de.jacavi.appl.track.TilesetRepository.definition-path}" />
	</bean>
	
	<bean id="tdaInjectorFactory" class="de.jacavi.appl.racelogic.tda.TDAInjectorFactory"/>
	
    <bean id="carRepositoryBean" class="de.jacavi.appl.car.CarRepository" lazy-init="true">
        <constructor-arg type="java.lang.String" value="${de.jacavi.appl.track.CarRepository.definition-path}" />
        <constructor-arg ref="tilesetRepositoryBean" />
    </bean>

	<bean id="raceEngineBean" class="de.jacavi.appl.racelogic.RaceEngine"> 
        <property name="players" ref="playersBean" />
		<property name="raceTimerInterval" value="${raceTimerInterval}" />
	</bean>

    <bean id="carControllerManagerBean" class="de.jacavi.appl.controller.CarControllerManager" />

<!--	<bean id="slotCarSystemConnectorFactory" class="de.jacavi.test.hal.TestSlotCarSystemConnectorFactory" /> 
 -->
	<bean id="slotCarSystemConnectorFactory" class="de.jacavi.hal.SlotCarSystemConnectorFactory" /> 
  
 	<bean id="connectorManager" class="de.jacavi.hal.ConnectorConfigurationManager" init-method="createDefaultConnectors">
        <constructor-arg type="de.jacavi.hal.ConnectorFactory" ref="slotCarSystemConnectorFactory" />
        <constructor-arg value="${numberOfSimulatedConnectors}"></constructor-arg>
    </bean>
	
	
	<bean id="lib42FeedbackManager" class="de.jacavi.hal.lib42.Lib42FeedbackManager" lazy-init="true" />

	<bean id="playersBean" class="java.util.ArrayList"/>
	
	<bean id="statisticsRegistryBean" class="de.jacavi.appl.racelogic.RaceStatisticsManager"/>

</beans>