<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="images/icon/jacavi_logo_16x16.png"
            visible="true">
         <run
               class="de.jacavi.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.jacavi.rcp.perspectives.EditorPerspective"
            id="JACAVI.editorPerspective"
            name="Design">
      </perspective>
      <perspective
            class="de.jacavi.rcp.perspectives.RacePerspective"
            id="JACAVI.racePerspective"
            name="Race">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.jacavi.rcp.views.LapView"
            icon="images/views/clock-16x16.png"
            id="JACAVI.lapView"
            name="Lap View">
      </view>
      <view
            class="de.jacavi.rcp.views.PlayerSettingsView"
            icon="images/famfamfam-silk/controller_16x16.png"
            id="JACAVI.playerSettingsView"
            name="Player Settings View">
      </view>
      <view
            allowMultiple="false"
            class="de.jacavi.rcp.views.RaceView"
            icon="images/cars-16x16.png"
            id="JACAVI.trackView"
            name="Track View">
      </view>
      <view
            class="de.jacavi.rcp.views.TileExplorer"
            icon="images/views/explorer_16x16.gif"
            id="JACAVI.tileExplorerView"
            name="Tile Explorer"
            restorable="true">
      </view>
      <view
            class="de.jacavi.rcp.views.TrackOutline"
            icon="images/views/outline_16x16.gif"
            id="JACAVI.trackOutline"
            name="Track Outline"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="JACAVI.defaultActionSet"
            label="Default Action Set"
            visible="true">
         <menu
               id="fileMenu"
               label="File">
            <groupMarker
                  name="fileGroup">
            </groupMarker>
         </menu>
      </actionSet>
      <actionSet
            id="JACAVI.editorActionSet"
            label="Editor Action Set">
         <action
               class="de.jacavi.rcp.actions.OpenTrackFileAction"
               icon="images/actions/import_wiz_16x16.gif"
               id="JACAVI.loadTrackAction"
               label="Open Track..."
               menubarPath="trackMenu/trackGroup"
               style="push"
               tooltip="Open Track">
         </action>
         <menu
               id="settingsMenu"
               label="Settings"
               path="other">
            <groupMarker
                  name="settingsGroup">
            </groupMarker>
         </menu>
         <menu
               id="raceMenu"
               label="Race"
               path="other">
            <groupMarker
                  name="raceGroup">
            </groupMarker>
         </menu>
         <action
               class="de.jacavi.rcp.actions.StartRaceAction"
               icon="images/actions/checkered-flag-icon_16x16.gif"
               id="JACAVI.StartRaceAction"
               label="&amp;Start Race"
               menubarPath="raceMenu/raceGroup"
               toolbarPath="raceGroup"
               tooltip="Start Race">
         </action>
         <action
               class="de.jacavi.rcp.actions.AgentSettingsAction"
               icon="images/famfamfam-silk/vcard_16x16.png"
               id="JACAVI.AgentSettingsAction"
               label="Configure Driving Agents..."
               menubarPath="settingsMenu/settingsGroup"
               style="push"
               toolbarPath="settingsGroup">
         </action>
         <action
               class="de.jacavi.rcp.actions.OpenConnectorSettingsAction"
               icon="images/famfamfam-silk/connect_16x16.png"
               id="JACAVI.OpenConnectorSettingsDialog"
               label="Configure Connectors..."
               menubarPath="settingsMenu/settingsGroup"
               style="push"
               toolbarPath="settingsGroup">
         </action>
         <action
               class="de.jacavi.rcp.actions.OpenInputDeviceSettingsAction"
               icon="images/famfamfam-silk/controller_16x16.png"
               id="JACAVI.OpenInputDeviceSettingsAction"
               label="Configure Input Devices..."
               menubarPath="settingsMenu/settingsGroup"
               style="push"
               toolbarPath="settingsGroup">
         </action>
         <action
               class="de.jacavi.rcp.actions.PlayerSettingsAction"
               icon="images/famfamfam-silk/user_16x16.png"
               id="JACAVI.PlayerSettingsAction"
               label="Configure Players..."
               menubarPath="settingsMenu/settingsGroup"
               toolbarPath="settingsGroup">
         </action>
      </actionSet>
      <actionSet
            id="JACAVI.raceActionSet"
            label="Race Action Set">
         <menu
               id="raceMenu2"
               label="Race">
            <groupMarker
                  name="raceGroup2">
            </groupMarker>
         </menu>
         <action
               class="de.jacavi.rcp.actions.StopRaceAction"
               icon="images/actions/progress_stop_16x16.gif"
               id="JACAVI.stopRace"
               label="Stop Race"
               menubarPath="raceMenu2/raceGroup2"
               style="push"
               toolbarPath="raceGroup2">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.jacavi.rcp.editors.TrackDesigner"
            default="true"
            icon="images/views/designer_16x16.png"
            id="JACAVI.TrackDesigner"
            name="TrackDesigner">
      </editor>
   </extension>
   <extension
         id="JACAVI.newTrackWizards"
         name="New Track Wizards"
         point="org.eclipse.ui.newWizards">
      <wizard
            class="de.jacavi.rcp.wizards.NewDebugTrackWizard"
            icon="images/views/designer_16x16.png"
            id="JACAVI.NewDebugTrackWizard"
            name="New Debug Track">
      </wizard>
      <wizard
            class="de.jacavi.rcp.wizards.NewAnalogTrackWizard"
            icon="images/views/designer_16x16.png"
            id="JACAVI.NewAnalogTrackWizard"
            name="New Analog Track">
      </wizard>
      <wizard
            class="de.jacavi.rcp.wizards.NewDigitalTrackWizard"
            icon="images/views/designer_16x16.png"
            id="JACAVI.NewDigitalTrackWizard"
            name="New Digital Track">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="JACAVI.editorPerspective">
         <actionSet
               id="JACAVI.defaultActionSet">
         </actionSet>
         <actionSet
               id="JACAVI.editorActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="JACAVI.racePerspective">
         <actionSet
               id="JACAVI.defaultActionSet">
         </actionSet>
         <actionSet
               id="JACAVI.raceActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="JACAVI.application"
            name="JaCaVi">
         <property
               name="appName"
               value="JaCaVi">
         </property>
         <property
               name="windowImages"
               value="icons/jacavi_logo/jacavi_logo.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/jacavi_logo/JaCaVi_Logo_250x123.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="aboutText"
               value="JaCaVi&#x0D;&#x0A;&#x0D;&#x0A;Version: 1.0.0&#x0D;&#x0A;&#x0D;&#x0A;(c) Copyright JaCaVi contributors and others 2008.  All rights reserved.&#x0D;&#x0A;Visit http://www.jacavi.de&#x0D;&#x0A;&#x0D;&#x0A;This product includes software developed by the&#x0D;&#x0A;Apache Software Foundation http://www.apache.org/&#x0D;&#x0A;&#x0D;&#x0A;Developers: &#x0D;&#x0A;Stefanos Papadopoulos (elgreco_04@hotmail.com)&#x0D;&#x0A;Henrik Heimbuerger (henrik@heimbuerger.de)&#x0D;&#x0A;Fabian Rohn (fabrohn@htwg-konstanz.de)&#x0D;&#x0A;Florian Roth (froth@htwg-konstnz.de)&#x0D;&#x0A;&#x0D;&#x0A;Expression of thanks to: Lib42 Team, BlueRider Team, ...">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.jacavi.rcp.preferences.MainPreferencePage"
            id="JACAVI.mainPreferencePage"
            name="Track rendering">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.jacavi.rcp.preferences.MainPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
