<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.jacavi.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="de.jacavi.rcp.perspectives.Perspective"
            id="JACAVI.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.jacavi.rcp.views.LapView"
            icon="icons/clock-16x16.png"
            id="JACAVI.lapView"
            name="Lap View">
      </view>
      <view
            class="de.jacavi.rcp.views.PlayerSettingsView"
            icon="icons/Sony-Playstation-Dual-Shock-16x16.png"
            id="JACAVI.playerSettingsView"
            name="Player Settings View">
      </view>
      <view
            class="de.jacavi.rcp.views.TrackView"
            icon="icons/cars-16x16.png"
            id="JACAVI.trackView"
            name="Track View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="JACAVI.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="raceMenu"
               label="Race">
            <groupMarker
                  name="raceGroup">
            </groupMarker>
         </menu>
         <action
               class="de.jacavi.rcp.actions.StartRaceAction"
               icon="icons/checkered-flag-icon.gif"
               id="JACAVI.StartRaceAction"
               label="&amp;Start Race"
               menubarPath="raceMenu/raceGroup"
               toolbarPath="raceGroup"
               tooltip="Start Race">
         </action>
         <menu
               id="settingsMenu"
               label="Settings">
            <groupMarker
                  name="settingsGroup">
            </groupMarker>
         </menu>
         <action
               class="de.jacavi.rcp.actions.PlayerSettingsAction"
               icon="icons/Sony-Playstation-Dual-Shock-16x16.png"
               id="JACAVI.PlayerSettingsAction"
               label="Player Settings"
               menubarPath="settingsMenu/settingsGroup"
               toolbarPath="settingsGroup">
         </action>
      </actionSet>
   </extension>

</plugin>
