<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<booleanAttribute key="append.args" value="true"/>
<stringAttribute key="application" value="JACAVI.application"/>
<booleanAttribute key="askclear" value="true"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bad_container_name" value="\JACAVI\J"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/[shared] JaCaVi (accelerated)"/>
<booleanAttribute key="default" value="false"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../runtime-JACAVI.application"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl}"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=${workspace_loc:JACAVI}/libs"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:JACAVI}"/>
<booleanAttribute key="pde.generated.config" value="false"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="SBV_Reha.product"/>
<stringAttribute key="selected_target_plugins" value="org.eclipse.core.commands,org.eclipse.ui.views,org.eclipse.equinox.preferences,org.eclipse.ui,org.eclipse.core.runtime,org.eclipse.ui.workbench,org.eclipse.core.jobs,org.eclipse.osgi.services,org.eclipse.core.resources.compatibility,org.eclipse.core.variables,org.eclipse.core.expressions,org.eclipse.osgi,org.eclipse.help,com.ibm.icu,org.eclipse.equinox.app,org.eclipse.draw2d*3.4.0.v20080401,org.junit4,org.eclipse.gef,javax.servlet,org.eclipse.ant.core,org.eclipse.equinox.registry,org.eclipse.core.resources.win32.x86,org.eclipse.core.contenttype,org.eclipse.jface.databinding,org.eclipse.core.runtime.compatibility.registry,org.eclipse.core.runtime.compatibility.auth,org.eclipse.jface,org.eclipse.core.resources,org.eclipse.swt.win32.win32.x86,org.eclipse.swt,org.eclipse.core.filesystem,org.eclipse.core.filesystem.win32.x86,org.eclipse.core.databinding,org.eclipse.draw2d*3.4.0.v20080529,org.eclipse.equinox.common"/>
<stringAttribute key="selected_workspace_plugins" value="JACAVI"/>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="false"/>
<booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
