<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<booleanAttribute key="append.args" value="true"/>
<stringAttribute key="application" value="JaCaVi.application"/>
<booleanAttribute key="askclear" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bad_container_name" value="\JACAVI\J"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/[shared] JaCaVi (accelerated)"/>
<booleanAttribute key="default" value="false"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc:JACAVI}/runtime-workspace-JACAVI"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl}"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-enableassertions -Xmx256M"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:JACAVI}"/>
<booleanAttribute key="pde.generated.config" value="false"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.eclipse.platform.ide"/>
<stringAttribute key="selected_target_plugins" value="org.eclipse.core.databinding.property,org.eclipse.osgi.services,org.eclipse.equinox.app,org.eclipse.core.runtime@:true,org.eclipse.jface.databinding,org.junit4,org.eclipse.core.databinding.observable,org.junit*4.8.1.v4_8_1_v20100427-1100,org.eclipse.help,org.eclipse.draw2d,org.eclipse.core.contenttype,org.eclipse.core.databinding,com.ibm.icu,org.eclipse.swt.win32.win32.x86_64@:false,org.eclipse.swt,org.eclipse.ui.workbench,javax.servlet*2.5.0.v200910301333,org.eclipse.jface,org.eclipse.osgi,org.eclipse.gef,org.eclipse.ui.views,org.eclipse.core.commands,org.hamcrest.core,org.eclipse.equinox.preferences,org.eclipse.core.jobs,org.eclipse.core.runtime.compatibility.registry@:false,javax.transaction@:false,org.eclipse.equinox.common,org.eclipse.core.runtime.compatibility.auth,org.eclipse.core.expressions,org.eclipse.equinox.registry,org.eclipse.ui"/>
<stringAttribute key="selected_workspace_plugins" value="JaCaVi@default:default"/>
<booleanAttribute key="show_selected_only" value="true"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="false"/>
<booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
