<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<import resource="configurationBeans.xml"/>

	<bean id="applicationManager" class="de.jacavi.appl.ApplicationManager" />
	
	<bean id="tilesetRepositoryBean" class="de.jacavi.appl.track.TilesetRepository">
		<constructor-arg type="java.lang.String" value="/tiles/tiles.xml" />
	</bean>
	
	<bean id="raceEngineBean" class="de.jacavi.appl.racelogic.RaceEngine"> 
        <property name="players" ref="playersBean" />
		<property name="raceTimerInterval" ref="raceTimerIntervalValueBean" />
	</bean>

    <bean id="inputDeviceManagerBean" class="de.jacavi.appl.controller.device.InputDeviceManager" />
<!--
	<bean id="slotCarSystemConnectorFactory" class="de.jacavi.hal.SlotCarSystemConnectorFactory">
	</bean> -->
	<bean id="slotCarSystemConnectorFactory" class="de.jacavi.test.hal.TestSlotCarSystemConnectorFactory">
	</bean> 
	  
	<bean id="connectorManager" class="de.jacavi.hal.ConnectorConfigurationManager" />
	
	<bean id="lib42FeedbackManager" class="de.jacavi.hal.lib42.Lib42FeedbackManager"/>

	<bean id="playersBean" class="java.util.ArrayList"/>
	
</beans>